/* LOADING ET MESSAGE ERREUR */
.loader,
.error {
  text-align: center;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, 0.1);
}

.spinner {
  border: .25rem solid rgba(0, 0, 0, 0.1);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: .625rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.error small {
  display: block;
  margin-top: .3125rem;
  color: #58151c;
}

/* LOADING ET MESSAGE ERREUR */







.count {
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.25rem;
  font-size: 1.1em;
}

.character-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}







/* Styling */
.character-card {
  padding: .9375rem 1.25rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 12.5rem; /* pour la longueur de texte variable */
  background: rgba(24, 24, 24, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(24, 24, 24, 0.78);
}

.character-card:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0 .375rem .75rem rgba(0, 0, 0, 0.1);
}

/* Styling */








/* Content */
.character-card .char-name {
  margin-top: 0;
  margin-bottom: .9375rem;
  color: #ffffff;
  font-size: 1.4em;
  border-bottom: .0625rem solid #eee;
  padding-bottom: .625rem;
}

.character-card .char-detail {
  margin: .3125rem 0;
  font-size: 0.95em;
  color: #ffffff;
  line-height: 1.4;
}

.character-card .char-detail .label {
  font-weight: bold;
  color: #ffffff;
  margin-right: .3125rem;
}

.character-card .char-detail .value {
  color: #ffffff;
}

/* Content */





/* Wiki */
.character-card .char-wiki {
  margin-top: .9375rem;
  padding-top: .625rem;
  border-top: .0625rem solid #eee;
  text-align: center;
}

.character-card .char-wiki a {
  text-decoration: none;
  color: #d4ac68;
  font-weight: bold;
  transition: color 0.2s ease;
}

.character-card .char-wiki a:hover {
  color: #d4ac68;
}

.character-card .char-wiki span {
  /* Style for "Pas de Wiki" */
  font-style: italic;
  color: #888;
  font-size: 0.9em;
}

/* Wiki */