body.body-form {
  background-image: url('../assets/wallpaper/336948.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* HEADER */
#main-header-div {
  background-color: #12141c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625rem;
}

.header-div {
  display: flex;
  align-items: center;
  gap: .625rem;
}

.icon-div {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.icon-div img {
  cursor: pointer;
}

.main-logo {
  width: 22%;
  cursor: pointer;
  margin-left: -2%;
}

.hamburger-icon {
  width: 2.5%;
  cursor: pointer;
}

.X {
  width: 2%;
}

.warner-logo {
  width: 5%;
  margin-left: 3.5rem;
}

.bar {
  width: 100%;
  padding: 0.2rem;
  background-color: #d4ac68;
}

/* HEADER */



/* ===== LOGIN ===== */

/* FORM */

#register-form {
  padding: 1.875rem 2.5rem;
  border-radius: .5rem;
  box-shadow: 0 .25rem .625rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 28.125rem;
  box-sizing: border-box;
  display: flex;
  justify-self: center;
  flex-direction: column;
  margin-top: 9rem;
  background: rgba(255, 255, 255, 0.2);   /* GLASS EFFECT */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* titre form */
#register-form h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 1.25rem;
  font-family: "lotrFont";
  font-size: xx-large;
  font-weight: bold;
}

/* label style */
label {
  font-size: .875rem;
  color: #000000;
  display: block;
  margin-bottom: .5rem;
}

/* input style */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: .75rem;
  font-size: 1rem;
  border-radius: .375rem;
  border: .0625rem solid #ccc;
  margin-bottom: 0.20rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #D8B273;
  outline: none;
}

/* messages error */
.message-error ul {
  color: red;
  padding-left: 1.25rem;
  font-size: .875rem;
}

/* message success */
.message-success {
  color: #5cb85c;
  text-align: center;
  font-size: 1rem;
  display: none;
  margin-top: 1.25rem;
}

/* style case cocher */
.div-check-password {
  margin-bottom: 1.25rem;
}

.div-check-password input {
  width: auto;
}

/* FORM */






/* COLORS */

#h4-checkboxes {
  align-self: center;
}

.success {
  background-color: #9eff9e;
  border: 0.1rem solid #357035;
  transition: 0.5s;
}

.error {
  background-color: #f28888;
  ;
  border: 0.1rem solid #ff0000;
  transition: 0.5s;
}

/* COLORS */




/* Bouton de soumission */
.submit-btn {
  background-color: #D8B273;
  color: white;
  font-size: larger;
  font-weight: bold;
  padding: .75rem;
  border-radius: .375rem;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-top: 2.5rem;
}

.submit-btn:hover {
  background-color: #ac8e5f;
}


.checkboxes {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 0%;
  margin-top: 1.5rem;
  border-radius: 0.125rem;
}

.message-error.visible {
  display: block;
  color: white;
  border-width: 0.2rem;
  border-color: red;
  background-color: #f15656;
}

.message-error {
  display: block;
  color: white;
  border-width: 0.1rem;
  border-color: red;
  border-radius: 0.2rem;
  background-color: #f15656;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-left: 30rem;
}

/* Bouton de soumission */